<div class="container">
  <div class="row">
    <div class="row col s4">
      <div class="card-panel white">
      <form class="new-idea-form">
        <div class="row">
          <div class="input-field">
            <input placeholder="Idea Title" id="title" type="text" class="validate">
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <textarea placeholder="What's your idea?" id="body" class="materialize-textarea"></textarea>
          </div>
        </div>
        <button class="waves-effect waves-light btn lime darken-2" type="submit" name="action" id="create-idea">Create New Idea</button>
      </form>
    </div>
    </div>
    <div class="col s8 push-s2">
      <h3 class="center">Ideas</h3>
      <div class="center" id="all-ideas">
      </div>
    </div>
  </div>
</div>