<nav>
  <div class="nav-wrapper indigo darken-2">
    <a href="#" class="brand-logo center">Idea Box<i class="material-icons">box</i></a>
    <form>
      <div class="input-field">
        <input placeholder="Search Ideas" id="search" type="search" required>
        <label for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>